.body {
  background-color: #dee2e6;
  font-family: Lucida, monospace;
  /* border: 2px dotted; */
}

.header {
  background-color: #495057;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: (1fr, 1fr);
  height: 125px;
  grid-gap: 20px;
}
.nav-items{
  background-color: #6c757d;
  text-align: center;
  font-size: 1.75rem;
  height: 40%;
  border-radius: 10px;
  margin-top: 30px;
}

#shares{
  grid-column: 1;
  grid-row: 2;
}

#playlist{
  grid-column: 2;
  grid-row: 2;
}

#personal-videos{
  grid-column: 3;
  grid-row: 2;
}

#admin-username{
  grid-column: 7;
  grid-row: 1;
}

#logo{
  grid-column: 7;
  grid-row: 2;
  height: 65px;
  vertical-align: bottom;
}

.user-droplist {
  justify-content: right;
  /* border: 2px dotted; */
}

.main-section {
  background-color: #e9ecef
}

.the-box-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 1500px;
  grid-gap: 20px;
  background-color: #e9ecef;
}

.box{
  position: relative;
  display: inline-block;
  color: white;
  background-color: black;
}

.text-content{
  background-color: #e9ecef;
  color: #495057;
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  bottom: 2%;
  left: 1%;
  opacity: .75;
}
.corner-txt{
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  top: 2%;
  right: 2%;
}
.main-section{
  margin: 20px;
}

h1{
  margin: 0px;
}

h2{
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 1px;
}

h3{
  margin-top: 1px;
  font-size: .75rem;
}

h4{
  font-style: italic;
  font-display: block;
  text-decoration: underline;
}

h5{
  font-size: .7rem;
}

p{
  color: #6c757d;
  margin: 0;
}

img{
  margin: 0px;
  padding: 0px;
  max-height: 100%;
  width: 100%;
  opacity: 0.75;
  z-index: 2;
  object-fit: fill;
}


#icon{
  position: absolute;
  top: 3%;
  left: 3%;
  height: 40px;
  width: 40px;
  border-radius: 15px;
}
#red{
  background-color: #FFADAD;
}
#orange{
  background-color: #FFD6A5;
}
#yellow{
  background-color: #FDFFB6;
}
#green{
  background-color: #CAFFBF;
}
#blue{
  background-color: #9BF6FF;
}
#indigo{
  background-color: #A0C4FF;
}
#violet{
  background-color: #BDB2FF;
}
#pink{
  background-color: #FFC6FF;
}
