.body {
  background-color: ;
  border: 2px dotted;
}
.header {
  background-color: ;
  display: flex;
  justify-content: space-around;
  border: 2px dotted;
}

.user-droplist {
  border: 2px dotted;
}

.main-section {
  background-color: ;
  border: 2px dotted;


}

.the-box-grid{
  diplay: grid;
  background-color: ;
  border: 2px dotted;

}
